@import './_variables.scss';
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue-next/dist/bootstrap-vue-next.css';
@import './utils.scss';

.accordion-button:not(.collapsed) {
    background-color: rgb(224, 236, 253);
    color: #000
}

[data-bs-theme="dark"] {
    .accordion-button:not(.collapsed) {
        background-color: rgb(34, 50, 76);
        color: #dee2e6
    }
}
